/* 簡単なスタイルでモーダル表示を調整 */
.modal {
    display: none;
    /* 最初は非表示 */
    position: fixed;
    z-index: 9999;
    /* 最前面 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明背景 */
    justify-content: center;
    /* 中央寄せ */
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.header {
    background-color: white;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    text-align: center;
}

.header__logo {
    color: #996666;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-family: serif;
}

hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #D3D3D3;
}

.confirm-form__content-title {
    color: #996666;
    font-family: serif;
}





.confirm-form__content-item {
    width: 80%;
    height: 60%;
    margin: 0 auto;
    border-radius: 10px;
}

th {
    color: white;
    margin: 10px auto;
    background-color: #996666;
    width: 200px;
    height: 40px;
    text-align: left;
    padding: 10px;
    border: 1px solid #EEEEEE;
    border-collapse: collapse;
}

td {
    display: flex;
    margin: 10px auto;
    background-color: white;
    padding: 10px;
    border: 1px solid #EEEEEE;
    border-collapse: collapse;
    width: 200%;
    height: 100%;
    box-sizing: border-box;
}



span {
    margin: 10px auto;
}

.confirm-form__button-submit {
    color: white;
    background-color: #996666;
    border: 1px;
    border-color: #996666;
    width: 20%;
    cursor: pointer;
    padding: 0px auto;
    margin: 10px auto;
}

.confirm-form__button-correction {
    color: #6e4c4c;
    background-color: white;
    border: 1px;
    border-color: #6e4c4c;
    width: 20%;
    cursor: pointer;
    padding: 0px auto;
    margin: 10px auto;
}