.header {
    background-color: white;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    text-align: center;
}

.header__logo {
    color: #996666;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-family: serif;
}

hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #D3D3D3;
}

.confirm-form {
    height: 100vh;
    text-align: center;
}

.confirm-form__content-title {
    color: #996666;
    font-family: serif;
}

.confirm-form__content-item {
    width: 80%;
    height: 60%;
    margin: 0 auto;
    border-radius: 10px;
}


td {
    display: flex;
    margin: 10px auto;
    background-color: white;
    
    border: 1px solid black;
    border-collapse: collapse;
}


span {
    margin: 10px auto;
}

.confirm-form__button-submit {
    color: white;
    background-color: #996666;
    border: 1px;
    border-color: #996666;
    width: 20%;
    cursor: pointer;
    padding: 0px auto;
    margin: 10px auto;
}

.confirm-form__button-correction{
    color: #6e4c4c;
    background-color: white;
    border: 1px;
    border-color: #6e4c4c;
    width: 20%;
    cursor: pointer;
    padding: 0px auto;
    margin: 10px auto;
}

th {
    color: white;
    background-color: #996666;
    width: 200px;
    height: 40px;
    text-align: left;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}
