.header {
    background-color: white;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    text-align: center;
}

.header__logo {
    color: #996666;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-family: serif;
}

.header__button {
    position: relative;
    text-align: right;
}


.header__button-item {
    color: #996666;
    background-color: whitesmoke;
    border: 1px b;
    border-color: #996666;
    width: 10%;
    cursor: pointer;
}


.login-form {
    background-color: antiquewhite;
    height: 100vh;
    text-align: center;
}

.login-form__content-title {
    color: #996666;
    font-family: serif;
}

.login-form__content-item {
    background-color: white;
    width: 70%;
    height: 60%;
    margin: 0 auto;
    border-radius: 10px;
}



.login-form__button {
    margin: 30px auto;
}

.login-form__button-submit {
    color: white;
    background-color: #996666;
    border: 1px;
    border-color: #996666;
    width: 20%;
    cursor: pointer;
    padding: 0px auto;
    margin: 10px auto;
}

input {
    padding: 10px 15px;
    /*ボックスを大きくする*/
    font-size: 16px;
    border-radius: 3px;
    /*ボックス角の丸み*/
    border: 2px solid #ddd;
    /*枠線*/
    box-sizing: border-box;
    /*横幅の解釈をpadding, borderまでとする*/
}