body{
    display: flex;
        justify-content: center;
}

.thanks__content{
    margin: 25px;
    background-color: #ffffff;
    display: flex;
        justify-content: center;
}
.thanks__content-button{
    position: relative;
}
p{
    position: absolute;
    color:#f0f0f0;
    font-size:100px;
    
}
span{
    margin: 0 auto;
}
