body{
    background-color: #ffffff;
}
.thanks__content{
    margin: 25px;
    background-color: #ffffff;
}
.thanks__content-button{
    position: relative;
}
p{
    position: absolute;
    color:#f0f0f0;
    font-size:100px;
}
span{
    margin: 0 auto;
}
