body{
    background-color: #ffffff;
}

.thanks__content-button{
    position: relative;
}
p{
    position: absolute;
    color:#f0f0f0;
    font-size:100px;
}
.thanks__content-message{
    margin: 25px;
}
.thanks__content-item{
    margin: 25px;
}
span{
    
}