body{
    display: flex;
    justify-content: center;
}

.thanks__content{
    background-color: #ffffff;
    
}
.thanks__content-message{
    position: relative;
    top: 50px;
    left: 50px;
}
p{
    color:#f0f0f0;
    font-size:100px;
}
.thanks__content-item{

}